.benefits-section {
  background-color: #F8EFE5;
  padding: 70px 20px;
}

.section-title h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  max-width: 700px;
  margin: 20px auto 0;
  color: #555;
  font-size: 1rem;
}

.benefits-grid {
  display: grid;
  gap: 20px;
}

.benefit-card {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  padding: 40px 30px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.08);
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.benefit-card:hover {
  transform: scale(1.05);
}

.benefit-card:hover .benefit-icon {
  fill: #5D768B;
}

.benefit-card:hover h3 {
  color: #5D768B;
}

.benefit-card::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.4); 
  z-index: 0;
}

.benefit-card * {
  position: relative;
  z-index: 1;
}

.card-1 {
  background-image: url('/static/img/beneficios.webp');
}

.card-2 {
  background-image: url('/static/img/beneficios2.webp');
}

.card-3 {
  background-image: url('/static/img/beneficios3.webp');
}

.icon-wrapper {
  width: 80px;
  height: 80px;
  margin: 0 auto 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefit-icon {
  width: 48px;
  height: 48px;
}

.benefit-card h3 {
  font-size: 1.3rem;
  font-weight: 800;
  color: #C8B39B;
  margin-bottom: 15px;
  text-shadow: #000 0.6px 0.6px 1px;
}

.benefit-card p {
  color: #000;
  font-size: 0.95rem;
  font-weight: 500;
  text-shadow: #FFF 0.6px 0.6px 1px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .benefit-card {
    padding: 20px 10px;
  }

  .card-2 {
    background-image: url('/static/img/beneficios4.webp');
  }

  .card-3 {
    background-image: url('/static/img/beneficios5.webp');
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {
  .benefit-card {
    padding: 20px 10px;
  }
}

@media (min-width: 768px) {
  .benefits-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}